.nav-items {
  padding: 5px;
  color: aliceblue;
  .nav-item {
    padding: 25px 15px;
    cursor: pointer;
    @media only screen and (max-width: 1300px) {
      padding: 25px 18px;
      transition: all ease-in-out 0.5s;
    }
    &:hover {border-radius: 5px;margin: 1px;
      background-color: rgb(1, 38, 69);
      color: greenyellow;
      transition: ease all 0.5s;
    }
    fa-icon {
      margin-right: 20px;
      font-size: 22px;
    }
    span {
      display: inline;
      @media only screen and (max-width: 770px) {
        display: none;
      }
    }
  }
}

.nav-item.active {
  border-radius: 5px;
  background-color:  rgb(1, 38, 69);
  color: greenyellow;
  transition: ease all 0.5s;
}
