<div class="invoice-form">
  <div class="docnum">
    <h4>Doc No. : <span>Doc00011</span></h4>
  </div>
  <div class="header-form">
    <div class="header">
      <h2>Form Request Gauge</h2>
      <!-- <h4>Doc No. : <span>Doc00011</span></h4> -->
    </div>
    <div class="header-right">
      <h4>DIV : <span> GM/1</span></h4>
      <p>Fac : <span> 12</span></p>
    </div>
  </div>
  <div class="invoice-body">
    <div class="header-invoice">
      <div class="header-left">
        <p>Date : <span> 12/12/2024</span></p>
        <p>Time : <span> 10:00</span></p>
        <p>Require Date : <span> 12/12/2024</span></p>
        <p>Process : <span> TN/ PMA</span></p>
        <p>Use For : <span> 10:00</span></p>
        <p>Request by : <span> Mr.Kong</span></p>
        <p>Return by : <span> Mr.Been</span></p>
      </div>
      <div class="header-left">
        <p>Part No. : <span> 12A-122</span></p>
        <p>Rev : <span> E</span></p>
        <p>Area : <span> BM 165</span></p>
        <p>MC No. : <span> 410</span></p>
        <p>SEction : <span> T/N PMA</span></p>
      </div>
    </div>
    <div class="body-table">
      <table>
        <tr>
          <th>No.</th>
          <th>Spec.</th>
          <th>Gauge Name</th>
          <th>Gauge Model</th>
          <th>Qty</th>
          <th>Gauge No</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Slot 1-1 +001</td>
          <td>SLOTER</td>
          <td>SLOTER-Top 1</td>
          <td>1</td>
          <td>SL0001-12</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Slot 1-1 +001</td>
          <td>SLOTER</td>
          <td>SLOTER-Top 1</td>
          <td>2</td>
          <td>SL0001-12</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Slot 1-1 +001</td>
          <td>SLOTER</td>
          <td>SLOTER-Top 1</td>
          <td>1</td>
          <td>SL0001-12</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Slot 1-1 +001</td>
          <td>SLOTER</td>
          <td>SLOTER-Top 1</td>
          <td>1</td>
          <td>SL0001-12</td>
        </tr>
      </table>

      <div class="footer-invoice-1">
        <div class="footer-left">
          <p>Set Gauge By : <span> Mr.G</span></p>
          <p>Send : <span> Mr.o</span></p>
          <p>Return Gauge By : <span> 12/12/2024</span></p>
        </div>
        <div class="footer-mid">
          <p>Set Gauge Date : <span> 12/12/2024</span></p>
          <p>Send Gauge Date : <span>12/12/2024 </span></p>
          <p>Return Date : <span> 12/12/2024 </span></p>
        </div>
        <div class="footer-right">
          <p>Time:<span> 12:00</span></p>
          <p>Time: <span> 11:00</span></p>
          <p>Time:<span> 5:00</span></p>
        </div>
      </div>

      <div class="footer-invoice-2">
        <p>Remark :</p>
      </div>
    </div>
  </div>
</div>
