<div class="wrapper">
  <div class="container">
    <!-- <h3>Date : 26/04/2024</h3> -->
    <br />
    <fieldset>
      <div class="two-cols">
        <label>
          Doc No *
          <input type="text" name="First name" placeholder="Enter Doc number" required />
        </label>
        <label>
          Date *
          <span>24/04/2024</span>
        </label>
      </div>
      <button class="sub-button">Show Gauge</button>
    </fieldset>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="part">
        <th mat-header-cell *matHeaderCellDef>Part No.</th>
        <td mat-cell *matCellDef="let element">{{ element.part }}</td>
      </ng-container>

      <ng-container matColumnDef="gauge">
        <th mat-header-cell *matHeaderCellDef>Gauge Name</th>
        <td mat-cell *matCellDef="let element">{{ element.gauge }}</td>
      </ng-container>

      <ng-container matColumnDef="gmodel">
        <th mat-header-cell *matHeaderCellDef>Gauge Model</th>
        <td mat-cell *matCellDef="let element">{{ element.gmodel }}</td>
      </ng-container>

      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
      </ng-container>

      <ng-container matColumnDef="process">
        <th mat-header-cell *matHeaderCellDef>Process</th>
        <td mat-cell *matCellDef="let element">{{ element.process }}</td>
      </ng-container>

      <ng-container matColumnDef="mc">
        <th mat-header-cell *matHeaderCellDef>MC</th>
        <td mat-cell *matCellDef="let element">{{ element.mc }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>



    <div class="time-issue">
      <button mat-raised-button color="primary" (click)="startIssue()">Start Setting</button>
      <button mat-raised-button color="accent" (click)="pause()">Pause</button>
      <button mat-raised-button color="warn" (click)="done()">Done</button>
      <div class="show-time">
        <span>Time: {{ elapsedTime }}</span>
      </div>
    </div>




    <button class="sub-button">Issue Gauge ➤</button>
    <button class="red-button">Clear 🗑️</button>



    <!-- <mat-paginator [pageSizeOptions]="[5, 25, 50]" showFirstLastButtons></mat-paginator> -->
  </div>
</div>
