<div class="wrapper">

  <div class="container">
    <div class="main-container">
      <div class="box1">
        <p>Request Gauge</p>
      </div>
      <div class="box2">
        <p>Issue Gauge</p>
      </div>
      <div class="box3">
        <p>Return Gauge</p>
      </div>
    </div>
    <div class="main-container">
      <div class="box4">
        <p>Set Master Gauge</p>
      </div>
      <div class="box5">
        <p>History</p>
      </div>
      <div class="box6">
        <p>Summary</p>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
</div>
