<div class="wrapper">
  <div class="container">
    <h1>Form Request Gauge</h1>
    <br />
    <form action="SEND ADDRESS" id="ft-form" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
      <!-- <label >Doc No : ...............</label><br><br> -->

      <fieldset>


        <div class="two-cols">
          <label>
            Division
            <div class="custom-select">
              <mat-select [(value)]="selectedDivision">
                <mat-option *ngFor="let division of divisions" [value]="division.division">
                  {{ division.viewDivision }}
                </mat-option>
              </mat-select>
            </div>
          </label>


          <label>
            Fac *
            <input name="Family name" placeholder="Fac." required />
          </label>
        </div>
      </fieldset>


      <fieldset>
        <div class="two-cols">
          <label>
            Part No *
            <input type="text" name="First name" placeholder="Enter part number" required />
          </label>
          <label>
            Rev *
            <input name="Family name" placeholder="Drawing" required />
          </label>
        </div>
        <div class="two-cols">
          <label>
            Use for
            <div class="custom-select">
              <mat-select [(value)]="selectedProcess">
                <mat-option *ngFor="let process of Processs" [value]="process.process">
                  {{ process.viewProcess }}
                </mat-option>
              </mat-select>
            </div>
          </label>


          <label>
            Production
            <div class="custom-select">
              <mat-select [(value)]="selectedProduction">
                <mat-option *ngFor="let production of Productions" [value]="production.product">
                  {{ production.viewValue }}
                </mat-option>
              </mat-select>
            </div>
          </label>

        </div>
        <div class="two-cols">
          <label>
            MC Group
            <input type="text" name="mc" required />
          </label>
          <label>
            MC.No
            <input type="text" name="mcno" required />
          </label>
        </div>
        <div class="two-cols">
          <label>
            Process
            <input type="text" name="section" required />
          </label>
          <label>
            Request by
            <input type="text" name="requester" placeholder="Your Full Name" required />
          </label>
        </div>




        <div class="two-cols">

          <label>
            Date of Req.
            <input type="date" name="Date of birth" required />
          </label>
        </div>
        <label>
          Other
          <textarea type="text" name="Address"></textarea>
        </label>

      </fieldset>

      <div class="btns">

        <button type="submit" class="sub-button">Submit ➤</button>
        <input class="btns-clear" type="button" value="clear" />
      </div>
    </form>
  </div>

  <br /><br />
  <app-footer></app-footer>
</div>
